.localesContainer {
    position: fixed;
    line-height: 10vmin;
    bottom: 0;
    right: 0;
    font-family: Comfortaa, serif;
    font-size: var(--controls-font-size);
    color: var(--default-text);
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    margin: 0 1vmin 0 0;
}

.localesContainer > * {
    vertical-align: middle;
}

.switch {
    float: right;
    list-style-type: none;
    padding-right: 2vmin;
    padding-left: 2vmin;
}

.switch > li {
    cursor: pointer;
}

ul > * {
    color: var(--default-text);
}

.languageListElement {
    display: inline;
    padding-right: 0.4vmin;
    padding-left: 0.4vmin;
}

@media only screen and (max-width: 600px) {
    .localesContainer {
        width: 30%;
        text-align: center;
        margin-bottom: 2.5vmin;
    }

    ul > * {
        color: var(--text-color-gray);
        font-weight: bold;
    }

    ul {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    .localesContainer {
        font-size: 0.8em;
    }
}

