.localesContainer {
    position: fixed;
    line-height: 10vmin;
    bottom: 0;
    right: 0;
}

.localesContainer > * {
    vertical-align: middle;
}

.switch {
    float: right;
    list-style-type: none;
    padding-right: 4vmin;
}

.switch > li {
    cursor: pointer;
}

ul > * {
    color: var(--text-color-gray);
}

.languageListElement {
    color: var(--text-color-gray);
    display: inline;
    font-size: 1.3em;
    padding-right: 1vmin;
    padding-left: 1vmin;
}
