.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 10vmin;
    height: 10vmin;
}

.navbar > * {
    vertical-align: middle;
}

.logo {
    height: 5vmin;
    width: 3.3vmin;
    padding-right: 5vmin;
    padding-left: 5vmin;
}

.links {
    margin: 0;
    padding: 0;
    float: right;
    list-style-type: none;
}

.navListElement {
    display: inline;
}

.navlink {
    color: var(--highlighted-text);
    padding-right: 5vmin;
    padding-left: 5vmin;
    text-decoration: none;
    font-size: 1.3em;
}

