.contacts {
}

.contactsFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.text {
    display: inline-block;
    width: 25vw;
    margin-left: 6vw;
}

.title {
    color: var(--highlighted-text);
    font-size: 3em;
    font-family: CodeProLC, serif;
}

.description {
    color: var(--text-color-gray);
    font-size: 2em;
    font-family: MyriadProBold, serif;
}

.paragraph {
    color: var(--text-color-gray-light);
    font-size: 1.5em;
    font-family: MyriadPro, serif;
}

@media only screen and (max-width: 650px) {
    .contactsFlexContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text {
        display: inline-block;
        width: auto;
        margin: 6vw;
    }
    .contactUs, .ourProjects {
        display: inline-block;
        font-size: 0.7em;
        margin: 5vh 0 0;
    }

    .contactUs {
        margin-right: 2vw;
    }

    .ourProjects {
        margin-left: 2vw;
    }
}

@media only screen and (max-width: 350px) {

}