.home {
    position: absolute;
    display: flex;
    min-height: 100%;
    min-width: 100%;
}

.homeElementsContainer {
    padding-top: 12vmin;
    min-height: 100%;
    min-width: 100%;
}

.Loader {
    position: relative;
    padding-left: 50%;
    margin-top: 25%;
}

.preview {
    position: relative;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.previewContainer {
    float: right;
    width: 120vmin;
    height: 75vmin;
    border-left: 3px solid var(--highlighted-text);
    border-top: 3px solid var(--highlighted-text);
    border-bottom: 3px solid var(--highlighted-text);
    border-radius: 8px 0 0 8px;
}

.hr {
    display: inline-block;
    width: 18vmin;
    cursor: pointer;
    height: 0.5vmin;
    margin: 6vmin 3vmin 0 6vmin;
    border-radius: 0.3em;
    background-color: var(--text-color-gray-light);
}

.hr.active {
    background-color: var(--highlighted-text);
}

.hr:hover {
    background-color: var(--highlighted-text);
}

.textContainer {
    display: inline-block;
    margin-left: 8vw;
    margin-right: 4vw;
    margin-top: 10vh;
    max-width: 20vmax;
}

.switchLines {
    text-align: center;
}

.projectContainer {
    display: inline-block;
    float: right;
}

.mainTitle {
    font-family: CodeProBoldLC, serif;
    font-size: 3em;
    margin: 0;
    color: var(--highlighted-text);
}

.mainDescription {
    margin-top: 4vh;
    font-family: MyriadPro, serif;
    font-size: 1.5em;
    color: var(--text-color-gray-light);
}

.buttonContainer {
    margin-top: 4vh;
    width: 100%;
    text-align: center;
}

.ourProjects {
    font-size: 1.5em;
}

.show {
    display: block;
}

.hide {
    opacity: 0;
}

@media only screen and (max-width: 1800px) {
    .previewContainer {
        width: 100vmin;
        height: 65vmin;
    }
}

@media only screen and (max-width: 1700px) {
    .previewContainer {
        width: 85vmin;
        height: 55vmin;
    }

    .projectContainer {
        margin-top: 10vh;
    }

    .textContainer {
        margin-top: 10vh;
    }
}

@media only screen and (max-width: 1450px) {
    .textContainer {
        max-width: 100%;
    }

    .previewContainer {
        width: 100vmax;
        height: 65vmax;
        border-left: none;
        border-radius: 0;
    }

    .projectContainer {
        width: 100%;
        margin-top: 0;
    }

    .textContainer {
        display: block;
        margin: 3vh 0 3vh 4vw;
    }

    .text {
        display: inline-block;
        max-width: 60%;

    }

    .buttonContainer {
        display: inline-block;
        float: right;
        width: auto;
        text-align: center;
        margin-right: 4vw;
    }

    .projectContainer {
        padding-bottom: 4vh;
    }
}

@media only screen and (max-width: 950px) {
    .previewContainer {
        width: 100vmin;
        height: 65vmin;
    }

    .projectContainer {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .previewContainer {
        width: 100vmin;
        height: 100vmin;
    }

    .homeElementsContainer {
        padding-top: 15vmin;
    }

    .text {
        display: block;
        max-width: 100%;
    }

    .buttonContainer {
        display: block;
        margin-bottom: 4vh;
        margin-top: 1vh;
        margin-right: 0;
        float: left;
    }

    .mainTitle {
        font-size: 2.2em;
    }

    .mainDescription {
        font-size: 1.15em;
        margin-top: 1vh;
    }

    .ourProjects {
        font-size: 1.15em;
    }

    .textContainer {
        padding: 10vw;
        margin: 0;
    }
}


