.languageListElement {
    display: inline;
    cursor: pointer;
    padding-right: 0.4vw;
    padding-left: 0.4vw;
    text-shadow: 1px 1px 2px black;
}

.locales {
    list-style-type: none;
    margin: 0;
}

@media only screen and (max-width: 650px) {
    .locales {
        padding: 0;
        text-align: center;
    }
}