.title {
    color: var(--highlighted-text)
}

.main {
    min-height: 100%;
}

.switch {
    display: block;
}

@media only screen and (max-width: 600px) {
    .switch {
        display: none;
    }
}