.form {
    margin-top: 6vh;
    margin-right: 20%;
    width: 30vw;
    text-align: center;
}

.fields {
    display: flex;
    flex-direction: column;
}

.field {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.button {
    font-family: Comfortaa, serif;
    margin-top: 10vh;
    font-size: 1.5em;
}

@media only screen and (max-width: 650px) {
    .form {
        width: auto;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-bottom: 6vh;
    }
    .button {
        font-family: Comfortaa, serif;
        margin-top: 4vh;
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 350px) {

}