.form {
    margin-top: 5%;
    margin-right: 20%;
    width: 30%;
    text-align: center;
}

.fields {
    display: flex;
    flex-direction: column;
}

.field {
    margin: 2vh;
}

.textArea {
    margin: 2vh;
}

.button {
    font-family: Comfortaa, serif;
    margin-top: 10vh;
    font-size: 1.5em;
}