.form {
    margin-top: 6vh;
    margin-right: 20%;
    width: 25vw;
    text-align: center;
}


.fields {
    display: flex;
    flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
    -webkit-text-fill-color: var(--highlighted-text);
    -webkit-box-shadow: 0 0 0 30px var(--background-color-dark) inset !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    overflow: auto;
    resize: none;
}

.field:focus {
    color: var(--text-color-gray-light) !important;
    outline: none !important;
    border-bottom:2px solid var(--highlighted-text);
}

.field:hover {
    width: 100%;

}

.button {
    margin-top: 10vh;
    font-size: 1.5em;
}

@media only screen and (max-width: 650px) {
    .form {
        font-size: 1.5em;
        width: auto;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 6vh;
    }
    .button {
        display: inline-block;
        font-size: 0.7em;
        margin: 5vh 0 0;
    }
}

@media only screen and (max-width: 350px) {

}
