.projectCreation {
    position: absolute;
    display: flex;
    min-height: 100%;
    min-width: 100%;
}

.projectCreationElementsContainer {
    padding: 12vmin 6vw;
    min-width: calc(100% - 12vw);
    min-height: calc(100% - 24vmin);
}

.projectCreationHeader {
    color: var(--highlighted-text);
    font-size: 3em;
    font-family: CodeProBoldLC, serif;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.projectCreationForm {
    display: flex;
    flex-direction: row;
}

.formColumnOne {
    display: flex;
    flex-direction: column;
}

.formColumnTwo {
    margin-left: 20vw;
}

.selectCategory {

}

.linkToTheProjectPlatform {

}

.dragAndDropField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    border: 3px dotted var(--highlighted-text);
    padding: 10vmin;
    width: 30vmin;
    margin-top: 6vh;
}

.saveButton {
    font-size: 1em;
    margin-top: 10vh;
}

.saveButtonContainer {
    margin-left: 3vw;
}

.subContainer {
    display: flex;
    flex-direction: row;
}

.inputs {
    display: flex;
    flex-direction: column;
}