.nav {
    line-height: 10vmin;
    text-align: right;
    color: var(--default-text);
    font-family: Comfortaa, serif;
    font-size: var(--controls-font-size);
}

.menu {
    position: fixed;
    width: 100%;
}

.navbar > * {
    vertical-align: middle;
}

.logo {
    float: left;
    position: relative;
    height: 5vmin;
    width: 3.3vmin;
    padding-top: 4vmin;
    padding-right: 5vmin;
    padding-left: 5vmin;
}

.links {
    margin: 0;
    padding-right: 2vmin;
    padding-left: 2vmin;
    float: right;
    list-style-type: none;
}

.navListElement {
    display: inline;
}

.navlink {
    color: var(--default-text);
    padding-right: 3vmin;
    padding-left: 3vmin;
    text-decoration: none;
    font-size: var(--controls-font-size);
}

#navi {
    margin: 0 1vmin 0 0;
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

#navi {
    margin-top: 5vmin;
    margin-right: 5vmin;
    display: none;
    float: right;
    width: 20px;
    height: 15px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#navi span {
    position: absolute;
    display: none;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#navi span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#navi span:nth-child(2) {
    top: 6px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#navi span:nth-child(3) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#navi.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1px;
    left: 3px;
}

#navi.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}

#navi.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 13px;
    left: 3px;
}

@media only screen and (max-width: 1200px) {
    .navlink {
        padding-right: 2.5vw;
        padding-left: 2.5vw;
    }
}

@media only screen and (max-width: 600px) {
    .nav {
        line-height: 0;
    }

    .logo {
        display: none;
    }

    #navi span {
        display: block;
    }

    #navi {
        display: block;
    }

    .toggleLabel {
        display: block;
        cursor: pointer;
    }

    .navlink {
        color: var(--text-color-gray);
    }

    .menu {
        position: static;
        font-size: 1.3em;
        height: 100%;
        width: 100%;
        background-color: var(--background-color);
        text-align: left;
        font-weight: bold;
    }

    .active {
        display: block !important;
    }

    .links {
        margin-top: 10vh;
        padding: 0 8vw;
    }

    .links li {
        display: block;
        margin: 0;
        padding-top: 6vmin;
        padding-bottom: 6vmin;
    }
}

@media only screen and (max-width: 350px) {
    .links li {
        font-size: 0.8em;
    }
}

