.nav {
    line-height: 10vmin;
    height: 10vmin;
    text-align: right;
    color: var(--text-color-gray);
}

.menu {
    position: fixed;
    margin: 0 1vmin 0 0;
    width: 100%;
}

.navbar > * {
    vertical-align: middle;
}

.logo {
    float: left;
    position: relative;
    height: 5vmin;
    width: 3.3vmin;
    padding-top: 4vmin;
    padding-right: 5vmin;
    padding-left: 5vmin;
}

.links {
    margin: 0;
    padding: 0;
    float: right;
    list-style-type: none;
}

.navListElement {
    display: inline;
}

.navlink {
    color: var(--text-color-gray);
    padding-right: 5vmin;
    padding-left: 5vmin;
    text-decoration: none;
    font-size: var(--controls-font-size);
}

.toggleLabel {
    margin: 0 1vmin 0 0;
    font-size: var(--controls-font-size);
    line-height: 10vmin;
    display: none;
}

@media only screen and (max-width: 1200px) {
    .navlink {
        padding-right: 2.5vmin;
        padding-left: 2.5vmin;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    .toggleLabel {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 40%;
        height: 100%;
        right: 0;
        position: fixed;
    }

    .active {
        display: block !important;
    }

    .links li {
        display: block;
        margin: 0;
    }

}

