.navbar {
    position: fixed;
    padding-bottom: 2vh;
    width: 100%;
    top: 0;
    height: 10vmin;
    line-height: 10vmin;
    text-align: right;
    color: var(--default-text);
    font-family: Comfortaa, serif;
    font-size: var(--controls-font-size);
    z-index: 1;
}

.navbar > * {
    vertical-align: middle;
}

.logo {
    float: left;
    position: relative;
    height: 3em;
    width: 2em;
    margin-left: 2vw;
    margin-top: 2vw;
}

.hamburger {
    right: 0;
    font-size: var(--controls-font-size);
    margin-right: 5vw;
    margin-top: 5vw;
    display: none !important;
}

@media only screen and (max-width: 650px) {
    .hamburger {
        display: inline-block !important;
        font-size: 2.5rem !important;
    }

    .navbar {
        width: 100%;
        height: auto;
    }

    .logo {
        height: 2.5em;
        width: 1.5em;
        display: block;
        position: fixed;
        margin-left: 5vw;
        margin-top: 5vw;
    }

    .active {
        display: block !important;
    }
}

