body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}
html, body, #root, .app, .main {
  height: 100%;
}

@font-face {
  font-family: 'CodeProLC';
  src: local('CodeProLC'), url(./assets/fonts/CodeProLC.otf) format("opentype");
}

@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa'), url(./assets/fonts/Comfortaa.ttf) format("truetype");
}

@font-face {
  font-family: 'MyriadPro';
  src: local('MyriadPro'), url(./assets/fonts/MyriadPro.ttf) format("truetype");
}

@font-face {
  font-family: 'MyriadProBold';
  src: local('MyriadProBold'), url(./assets/fonts/MyriadProBold.otf) format("opentype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
